*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    height: 75px;
    width: 100%;
    color: white;
    background-color: black;
    list-style: none;
}
.header{
    
    margin: auto;
    padding: 0%;
    font-size: 100%;
    width: 90%;
    display: block;
}
.navbar-container{
    margin-top:0% ;
    text-align: center;
}
div.logo{ 
    
   font-size: 240%;
    display: inline-block;
    width: 20%;
    padding: 2% 2% 2% 2%;
    font-weight: bold;
    color: white;
}
.logo span{
    font-family: Arial;
    color: #FF9B51;
    font-weight: 50;
}
ul{
    font-family: Arial;
    padding: 2% 2% 3% 2%;
    width: 60%;
    float: right;
    list-style: none;
}
nav li{
    margin: 2% 1% 2% 5%;
    color: white;
    display: inline-block;
    list-style: none;
}
.clear{
    clear: both;
}
section{color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../DAY4/images/louvre.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0%;
    margin: 0%;
    height:700px }

.container{
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.712);
    background-size: cover;
    width: 100%;
    padding: 0%;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%
}
.bold2{
color: white;
font-weight: bold;
}
.orange2{
    font-family: Arial;
    color: #FF9B51;
    font-weight: 50;
}
.logo2{
    font-size: 400%;
}
.h2{
    margin: 2% 0%;
    font-weight: lighter;
    width: 80%;
    font-size: 220;
}
.left{height: 100px;
    float: left;
    width: 70%;
}
.form{ 
    float: right;
    width: 25%;
}
.clear{
    clear: both;
}
.hr{
    margin: 5% 0%;
    width: 10%;
    border-radius: 10px;
    border-style: solid;
}
.long-paragraph{
    text-align: left;
    font-weight:300;
    width: 60%;
    color: #6D6E70;
    font-size: small;
    margin-bottom: 5%;
}
.dl-btn{

    width: 20%;
    color: white;
    background: none;
    border-style: solid;
    border-width: 1%;
    height: 30px;
    border-color: white;
    
}
.dwn{
    font-size: medium;
    margin: 3%;
}
.form{
    margin-top: 4%;
    background-color: white;
    width: 30%;
    vertical-align: top;
    height: 300px;
}
.border{ 
    padding: 3%;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: black;
    font-family: Arial;
    background-color: #F5F5F5;
    height: 40px;
    font-weight: bolder;
}
.org{
    display: inline-block;
    color: #FF9B51;
}
input{height: inherit;
    color: #C9C9C9;
     background-color: white;
    width: 90%;
    font-weight: lighter;
    border-style: none;
     margin-left: 4%;
    margin-top: 7%;
    margin-bottom:3%;
    display: block;
}
.inform{ display: block;
    padding: 7%;

    height: inherit;
}
.hrform{
    width: 90%;
}
.get-btn{
    display: block;
    font-weight: 500;
    font-size: 120%;
    height: 50px;
    width: 100%;
    border: none;
    color: white;
    background-color: #FF9B51;
    text-align: center;
    margin-top: 10%;
}